<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head.ejs')  %> 
<body>
    <%- include('./partials/header.ejs')  %> 
    <h1><%= titulo %> </h1>
    <div class="container d-flex flex-wrap">
        <% sucursales.forEach( sucursal => { %>
            <div class="card m-3" style="width: 18rem;">
                <img src="/images/<%- sucursal.imagen %>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= sucursal.sucursal %></h5>
                  <p class="card-text">Dirección: <%= sucursal.direccion %></p>
                  <p class="card-text">Teléfono: <%= sucursal.telefono %></p>
                  <a href="/sucursales/<%= sucursal.sucursal %>" class="btn btn-primary">Ir a sucursal</a>
                </div>
              </div>
        <% }) %>
    </div>
    <%- include('./partials/scripts.ejs')  %> 
   
</body>
</html>